Week 3: control statements (practical)

In [1]:
10<100

True

In [2]:
100 != 100

False

In [3]:
50 >= 50

True

In [4]:
age = 19
age<18

False

In [5]:
age<21

True

In [6]:
age<31

True

In [7]:
"a"<"b"

True

In [8]:
"b"<"a"

False

In [9]:
"John"<"Terry"

True

In [10]:
"john"<"Terry"

False

In [11]:
5<10.2

True

In [12]:
5<"Monky"

TypeError: '<' not supported between instances of 'int' and 'str'

In [13]:
5<"5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [14]:
age = 30
age >=18 and age <=65
age <18 or age >65
not age > 18

False

In [15]:
age = 30
(age >=18 and age <=65) and (not age==30)

False

In [18]:
weight = 150
height = 175
100 < weight and weight < 200

True

In [19]:
height > 131 and height < 160

False

In [20]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
"Eric" in names

True

In [21]:
"shreya" not in names

True

In [22]:
"shreya" in names

False

In [26]:
age = int(input("Enter your age: "))
if 18<=age<=30:
    print("You are still young!")
else:
    print("You are not young!")

Enter your age: 19
You are still young!

In [30]:
 age = 32
if age > 100:
    print("you are very old,")
    print("well done!")
elif age > 80:
    print("you are fairly old")
    print("pretty good!")
elif 30<=age<=40:
    print("you are aged between 30 and 40")
else:
    print("you are not very old - yet")

you are aged between 30 and 40

In [33]:
name = input("Enter your name: ")
if bool(name):
    print("Your name is", name)
else:
    print("Name not entered")

Enter your name: shreya
Your name is shreya

In [34]:
age = 20
print("you are an adult") if age>=18 else print("you are not an adult yet")

you are an adult

In [35]:
names = ["shreya","sraddha", "aditi", "manasha"]
for i in names:
    print(i)

shreya
sraddha
aditi
manasha

In [40]:
for i in range(2,11,2):
    result = i**i
    print(f"{i} to the power {i} is = {result}")

2 to the power 2 is = 4
4 to the power 4 is = 256
6 to the power 6 is = 46656
8 to the power 8 is = 16777216
10 to the power 10 is = 10000000000

In [41]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
running_total = 0
for i in numbers:
    running_total += i
    print(f"Running total: {running_total}")

Running total: 10
Running total: 30
Running total: 60
Running total: 150
Running total: 350
Running total: 380
Running total: 402
Running total: 413

In [52]:
numbers = [10, 20, 30, 90, 200, 30, 22, 11]
running_total = 0
for i in numbers:
    if i > 100:
        print("your value is over 100!!!")
        break
    running_total += i
    print(f"Running total: {running_total}")

Running total: 10
Running total: 30
Running total: 60
Running total: 150
your value is over 100!!!

In [53]:
numbers = [10, 20, 30, 90, 200, 30, 22, 11]
running_total = 0
under_100 = True  

for i in numbers:
    if i > 100:
        print("your value is over 100!")
        under_100 = False
        break
    running_total += i
    print(f"Running total: {running_total}")

if under_100:
    print("All numbers processed.")

Running total: 10
Running total: 30
Running total: 60
Running total: 150
your value is over 100!