Week2 (variable and types) practicals:

In [1]:
total = 100
print("The total is", total)

The total is 100

In [2]:
total = total + 99 
print("the total now is", total)

the total now is 199

In [3]:
total += 99 
print("the total now is", total)

the total now is 298

In [6]:
total = 100
total -= 1
print("The total is", total)
total *= 4
print("The total is", total)
total /= 2
print("The total is", total)

The total is 99
The total is 396
The total is 198.0

In [7]:
total = 98.2
count = 5
average = total / count
print(f"the average is: {average}")

the average is: 19.64

In [8]:
type(False)

bool

In [9]:
type(1000)

int

In [10]:
type(100.111)

float

In [11]:
type("Hello")

str

In [12]:
type(True)

bool

In [13]:
type(100/5)

float

In [14]:
type(100 // 5)

int

In [15]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

In [16]:
name = "Shreya Khadka"
address = "Bhainsepati"
contact_details = 9842163128

print(f"My name is {name}.")
print(f"I live in {address}.")
print(f"Here is my contact detail {contact_details}.")
print(f"The length of my name is {len(name)}.")

My name is Shreya Khadka.
I live in Bhainsepati.
Here is my contact detail 9842163128.
The length of my name is 13.

In [18]:
age = input("Enter your age ")
age = int(age)
print("in one year your age will be", age + 1)

Enter your age 19
in one year your age will be 20

In [19]:
num_1 = int(input("Enter the first number: "))
num_2 = int(input("Enter the second number: "))
product = num_1 * num_2
print(f"The product of the first and second number is {product}.")

Enter the first number: 5
Enter the second number: 2
The product of the first and second number is 10.

In [21]:
comment = "I would have \"thought\" you knew better!"
print(comment)

I would have "thought" you knew better!

In [22]:
print("This text includes characters such as '\\' '\"' and \"'\",\nThis is a new line that starts with a tab\n\tThis new line starts with two tabs")

This text includes characters such as '\' '"' and "'",
This is a new line that starts with a tab
	This new line starts with two tabs

In [24]:
print(r"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")
print("hello there!")
print(r"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [25]:
print('''This text spans three lines,
and includes both single ('),
and double quotes (").''')

This text spans three lines,
and includes both single ('),
and double quotes (").

In [26]:
surname = "Palin"
initial = surname[3]
print(initial)

i

In [27]:
surname = "Palin"
initial = surname[-2]
print(initial)

i

In [28]:
surname = "Palin"
middle = surname[1:5]
print(middle)

alin

In [29]:
surname = "Palin"
middle = surname[0:4]
print(middle)

Pali

In [30]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
first_four = primes[0:4]
print(f"The first four prime numbers from the above list are: {first_four}.")

The first four prime numbers from the above list are: [2, 3, 5, 7].

In [42]:
names = ["shreya", "sraddha", "aditi", "safal", "manasha"]
names[2:4] = ["shrevika", "aarju"]
print(names)

['shreya', 'sraddha', 'shrevika', 'aarju', 'manasha']

In [44]:
nums = [1,2,3] * 5
print(nums)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

-Assignment: Variable value is set using assignment (which is the ‘=’ symbol) eg : name = "shreya"

-Data-type: Python has a number of built-in  data types, which are very commonly used.
These primitive-types are -
int refers to values that are whole numbers eg: 10(int)
float refers to decimal values, i.e. numbers that include a decimal place. eg: 10.22(float)
bool is used to store the values of either True or False 
str refers to a string of characters, e.g. used to store text. eg: "shreya" 

-Argument:Within the parentheses we pass values, to be used by the function. These
are often called arguments or parameters

-Indexing:Parts of a string can be accessed via a numerical index, placed between
square brackets. This allows individual characters from a string to be accessed, e.g.
name = "Shreya Khadka"
first_letter = name[0]

-Slicing:Rather than access a single character it is possible to access several
characters from a string, this is called slicing.
eg: name = "Roger the Shrubber"
    word = name[6:9] # get the string "the"

-Mutable:  Lists are mutable, we can update them in several ways. We can add to the end of an existing list using the append method, e.g.
primes.append(67) 

-Immutable: Strings are immutable, we cannot update them.